$def with ()

<!DOCTYPE html>
<html lang="en" class="dk_fouc has-js">
  <head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui-new.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/img/favicon.ico">

  </head>
  <body>
    <div class="container">
      <div style="width: 850px; height: 349px; margin-left: auto; margin-right: auto" >
        <div class="login-screen" >
          <div class="login-icon" >
            <img src="/static/img/login/icon.png" alt="欢迎使用XXX">
            <h4>欢迎使用 <small>XXXX</small></h4>
          </div>

          <div class="login-form">
            <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name">
              <label class="login-field-icon fui-man-16" for="login-name"></label>
            </div>

            <div class="control-group">
              <input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
              <label class="login-field-icon fui-lock-16" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-large btn-block" href="#">登录</a>
          <label style="margin-top:15px; margin-left:20px; color: #bfc9ca; font-size: 13px;float:left;">第三方登录:</label>
            <a href="/login">
              <img height="30" width="30" src="/static/img/icons/csdn.ico" style="margin-top:10px; margin-left:10px;" alt="CSDN登录">
            </a>
          </div>
        </div>
     </div>
    <!-- /.container -->
    </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/flat-ui.min.js"></script>
    <script src="/static/js/jquery.placeholder.min.js"></script>

    <script src="/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/static/js/jquery.dropkick-1.0.0.js"></script>
    <script src="/static/js/custom_checkbox_and_radio.js"></script>
    <script src="/static/js/custom_radio.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
  </body>
</html>
